body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 50px 0;
    background: #1E1E1E;
}

h1 {
    color: cyan;
}

h2 {
    color: orange;
}

section {
    padding: 20px;
    text-align: center;
}

a {
    color: cyan;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1E1E1E;
    color: gray;
}
